<div class="box">
  <%= link_to({:action => "show_bucket", :id => bucket}, :class => 'link') do %>
    <span title="<%= bucket_display_details(bucket) %>"><%= bucket.name %></span>
  <% end %>
  <%= render :partial => "bucket_status", :locals => {:bucket => bucket} %>
</div>
