<%
  has_dismiss_button = false
  button_specs = Array.wrap(options[:buttons]).map do |button_spec|
    (button_spec.is_a?(Hash) ? button_spec : {type: button_spec}).tap do |spec|
      spec[:submit] ||= [:create].include?(spec[:type])
      has_dismiss_button ||= [:close, :cancel].include?(spec[:type])
    end
  end
-%>
<div class="modal fade"
    <% if options[:id] -%>
      id="<%= options[:id] %>"
    <% end -%>
    >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <% if has_dismiss_button -%>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <% end -%>
        <h3 class="modal-title"><%= options[:title] %></h3>
      </div>
      <div class="modal-body"><%= yield %></div>
      <div class="modal-footer">
        <% button_specs.each do |button_spec| -%>
          <%=
            attrs = {
              type: button_spec[:submit] ? 'submit' : 'button',
              class: "btn btn-#{button_spec[:primary] ? "primary" : "default"}"
            }
            attrs['data-dismiss'] = 'modal' unless button_spec[:submit]
            button_tag t("dialog.button.#{button_spec[:type]}"), attrs
          %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
