<html>
  <head>
    <title>Distributed Cruise Control - <%= controller.controller_name %></title>
    <%= stylesheet_link_tag 'style' %>
    <link rel="shortcut icon" href="/images/diccr-favicon-medium.ico" type="image/x-icon">
    <link rel="icon" href="/images/diccr-favicon-medium.ico" type="image/x-icon">
  </head>
  <body>
    <img src='/images/diccr-logo.png'>
    <%= yield %>
  </body>
</html>
